# Configuration file

options {
    # If true, then the Wizard's Hat and Witch's Hat items will be craftable (if 
    # false, the hats will not be craftable). These hats are very powerful and you 
    # may want to disable them if you expect there to be troublemakers (aka 
    # "griefers") [default: true]
    B:allow_wizard_hat=true
}


